<h1 class="h3 mb-3 font-weight-normal text-center">Tous les évènements de ta ville sont ici !</h1>
<section>
<div class="card-deck">
<div class="row">
<%Event.all.each do |gossip|%>

<div class="col-sm-3 mb-4">
<div class="card">
  <div class="card-header">
    Event n°<%=event.id%>
  </div>
  <div class="card-body align-center">
    <blockquote class="blockquote mb-0">
      <p><%=event.title%></p>
      
    </blockquote>
  </div>
</div>
</div>
</div>
<%end%>
</div>
</section>